.section{
    display:flex;
    justify-content: center;
    background-color:rgba(248, 103, 103, 0.39); 
    width:400px;
    margin:auto;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    margin-top: 50px;
    padding:40px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section form{
    width: 300px;
    color:rgb(83, 53, 53);

}
.section input, textarea{
    width: 300px;
    height:50px;
    border-style: none;
    border-radius: 10px;
    padding-left: 20px;
}
button{
    border-style: none;
    padding:10px;
    border-radius: 12px;
    background-color:rgba(248, 103, 103, 0.39); ;
}
 .message {
      display: none;
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;

    }
    .error{
      background-color: #ffdddd;
      color: #d8000c;
    }
    .success {
      background-color: #ddffdd;
      color: #4F8A10;
    }