
*{
    padding:0;
    margin:0;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:none ;
}
/* body{
    display:grid;
    height:fit-content;
} */

header{
    height:60px;
    background-color: rgba(248, 103, 103, 0.39);
    box-shadow: 3px 10px 20px grey;
    max-width:100% ;
}
.list-items{
    display:flex;
    justify-content:end;
    margin-right: 40px;
}
.list-items li{
    margin-right: 10px;
    margin-top: 8px;
    padding-left: 10px;

}
.list-items li a{
    color:rgb(83, 53, 53);
    padding-right:10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-profile{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.profile-card{
    width:400px;
    background-color: rgba(248, 103, 103, 0.39);
    border-radius: 30px;
    box-shadow:4px 10px 10px grey;
    text-align: center;

}
.profile-card:hover{
    transform: translateY(-5px);
    
}

.user-avatar img{
    width:140px;
    height:140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(134, 63, 63);
    margin-bottom: 10px;
    margin-top: 60px;
}
h2{
    font-size:20px;
    color:rgb(134, 63, 63);
}
.user-bio{
    margin-bottom: 30px;
    color:rgb(121, 79, 79);
    font-size: 15px;
}
h4{
    font-size: 15px;
    color:rgb(121, 79, 79);
}
.user-hobbies{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
    color:rgb(83, 53, 53);
    text-align: start;
    padding-left:30px;
    padding-right:30px;

}
.user-hobbies li{
    font-size: 15px;
    padding-right:10px;
    list-style: circle;

}
.user-social{
    display:flex;
    justify-content: space-around;
    font-size: larger;
    align-content: space-around;
    background-color: rgb(121, 79, 79);
    border-radius: 20px;
    width:60%;
    margin:auto;
    
}
.fa-facebook, .fa-twitter, .fa-github{
    color:white;
}